@import "styles/variables/colors";

.container {
  background-color: #f7f8fa;
  height: 100vh;
  padding: 15px;
}

.title {
  color: $red;
  font-size: 14px;
}

.content {
  .package-summaries {
    display: flex;
    justify-content: space-between;
  }
}
