.package-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #f7f8fa;
  height: 100%;
  padding: 0.75rem;
  padding-bottom: 0;

  .filter {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
  }
  .tab-package {
    --title-font-size: 0.9375rem;
    --active-title-color: #fff;
    --active-line-border-radius: 0.625rem;
    --active-line-height: 1.5938rem;
    --active-line-color: #ee0033;
    .adm-tabs-header {
      background-color: #f2f2f2;
      padding: 0.4375rem;
      border-radius: var(--active-line-border-radius);
      border: none;
      .adm-tabs-header-mask {
        display: none;
      }
      .adm-tabs-tab-list {
        .adm-tabs-tab-line {
          top: 0;
        }
        .adm-tabs-tab-wrapper {
          padding: 0;
          .adm-tabs-tab {
            margin: 0;
            padding: 0.25rem 0.625rem;
            transition: all 0.2s ease-in-out;
            user-select: none;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .adm-tabs-content {
      padding: 0;
      .list-package {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5625rem;
      }
      .empty-state {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
        text-align: center;
        color: #999;
      }
    }
  }
}
