.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 0;
  .title-name {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 120%;
    color: #000;
  }
  .show-all {
    align-items: center;
    gap: 0.25rem;
    user-select: none;
    cursor: pointer;
    display: none;

    &.is-show-all {
      display: flex;
    }

    &-title {
      font-size: 1rem;
      line-height: 130%;
      font-weight: 500;
      color: #ee0033;
    }
  }
}
