.home {
  .adm-jumbo-tabs {

    .adm-jumbo-tabs-header {
      position: fixed;
      z-index: 999;
      top: 76px;
      left: 0;
      background-color: white;
      will-change: transform;
      contain: paint
    }
  }

  .promotion {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}