.confirm-register-modal {
  --max-width: 400px;
  --min-width: 90%;

  .adm-center-popup-wrap {
    .adm-modal-body {
      .adm-modal-title {
        color: #434650;
      }
      .adm-modal-content {
        padding-bottom: 0;
        .sub-title {
          color: #737373;
          margin-top: 0.5rem;
          text-align: center;
        }
        .list-btn-option {
          display: flex;
          flex-direction: column;
          width: 100%;

          .btn-option {
            border-radius: 0.75rem 0.75rem 0.75rem 0;
            border-color: #aaaaaa;
            color: #44484c;
            font-size: 0.875rem;
            margin-bottom: 1.5rem;

            &-active {
              color: #10464b;
              border-color: #ed0034;
            }
          }
        }
      }
      .adm-modal-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.75rem;
        margin-bottom: 1.25rem;
        .adm-space-item {
          margin-bottom: 0;
          .btn-action {
            border-radius: 0.75rem 0.75rem 0.75rem 0;
            padding: 0.375rem 1.25rem;
            border: 1px solid #474747;
            font-size: 0.875rem;
            font-weight: 600;

            &-close {
              color: #767a7b;
            }

            &-ok {
              color: #fff;
              background-color: #ed0034;
              border-color: #ed0034;
            }
          }
        }
      }
    }
  }
}
