@import "styles/variables/colors";

.search-input-container {
  position: relative;
  .search-input-custom {
    --height: auto;
    --padding-left: 0;
    --background: #f1f5fa;
    --border-radius: 0.5rem;

    .adm-search-bar-input-box {
      border: 1px solid var(--background);
      padding: 0.5rem;
      gap: 0.5rem;

      &-icon {
        margin: 0.25rem 0 0 0.25rem;
      }

      .adm-search-bar-input {
        padding: 0;
        .adm-input-element {
          font: {
            weight: 400;
            size: 0.875rem;
          }
          line-height: 130%;
          ::placeholder {
            color: #697586;
          }
        }
        .adm-input-clear {
          padding: 0;
          margin: 0 0.5rem;
          .antd-mobile-icon {
            font-size: 1.25rem;
          }
        }
      }
    }

    &.adm-search-bar-active .adm-search-bar-input-box {
      border-color: $red;
    }
  }

  .search-result {
    position: absolute;
    margin-top: 0.75rem;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0.5rem;
    z-index: 10;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 8px 24px 0px #00000029;

    box-shadow: 0px 8px 16px 0px #00000014;

    &-item {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      gap: 0.5rem;
      width: 100%;
      cursor: pointer;

      .icon {
        margin: 0.25rem 0 0 0.25rem;
      }
      .name {
        font-weight: 400;
        font-size: 0.875rem;
        color: #364152;
        line-height: 130%;
        user-select: none;
      }
    }
  }
}
