@import "styles/variables/colors";

.header {
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  padding-right: 3.5rem;
  column-gap: 8px;

  .adm-nav-bar-left {
    flex: 0;

    .adm-nav-bar-back {
      margin: 0;
      padding: 0;

      .adm-nav-bar-back-arrow {
        display: flex;
        margin: 0;
      }
    }
  }

  .adm-nav-bar-title {
    flex: none;
    padding: 0;

    .title {
      font-weight: 600;
      font-size: 1rem;
      color: #000000;
    }
  }

  .adm-nav-bar-right {
    display: none;
  }
}

.center {
  .adm-nav-bar-title {
    flex: auto;
  }
}
