.package-summary-item {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  color: #2c2f31;
  padding: 7px 3px;

  .package-icon {
    margin-right: 5px;
  }

  .package-info {
    color: #2c2f31;

    .package-label {
      margin: 0;
      margin-bottom: 5px;
    }

    .package-name {
      margin: 0;
      font-weight: 700;
      font-size: 18px;
    }
  }
}
