.PaymentWaring {
  background-color: #FFF1E5;
  padding: .5rem .75rem;
  display: flex;
  gap: .5rem;
  border-radius: .5rem;
  margin-bottom: 1rem;

  &-content {
    padding-top: .3125rem;
    font-size: .875rem;
    color: #E66C00;
    p{
      font-weight: 600;
      display: inline;
    }
    span{
      font-weight: 400;
      display: inline;
    }
  }
}